nav {
    background: #bb0101;
    width: 100%;
    height: 50px;
    position: fixed;
    border-bottom: #f1f1f1 1px solid;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Ajusta el padding si es necesario */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}
a{
    text-decoration: none;
}
nav  a {    
    color: #000;
}
nav a:hover {
    color: #f1f1f1;
}

.div-button {
    border-radius: 10px;
    width: auto;
    height: 40px;
    padding: 10px;
    background: #bb0101;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.5s;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.div-button:hover {
    background: #000;
    color: #f1f1f1;
}



header {
    background: linear-gradient(40deg, #500000, #bb0101 40%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #fff;
    /*position: absolute;*/
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    animation: slideInDown 1s ease-out; /*llamamos a la animación*/
}

img {
    width: 130px;
    margin: 0 auto;
    height: auto;
    margin-bottom: 10px;
}

@keyframes slideInDown {    /*Animación del logo de entrada*/
    from {
        transform: translate3d(-50%, -110%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(-50%,0,0);
        opacity: 1;
    }
    
}

.name{
    background: #1a1a1a;
    border-radius: 5px;
    width: 76%;
    font-size: 30px;
    font-weight: bold;
    color: #f1f1f1;
    text-align: center;
    margin: 10px auto;
}

body {
    background: #1a1a1a;
    color: #f1f1f1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    min-width: 320px;
}

.img-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}
.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Estilos generales para social-button */
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: #fff 1px solid;
    padding: 5px 20px; /* Ajusta el padding según sea necesario */
    margin: 0 10px;
}

.social-button:hover,.social-button:hover a {
    background: #f1f1f1;
    color: #000;
}

.social-button a {
    color: #f1f1f1;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.img-icon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px; /* Añade un margen derecho para separar el icono del texto */
}

.social-button p {
    margin: 0; /* Elimina el margen del párrafo */
}

/* Media query para ocultar los <p> cuando la pantalla es más delgada */
@media (max-width: 600px) {
    .social-button p {
        display: none;
    }
    .img-icon {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
}

.div-1, .div-3{
    background: #1a1a1a;
    border-radius: 5px;
    width: 75%;
    padding: 1px 7px;
    margin: 0 auto;
    min-width: 100px;
}

.subtittle{
    background: #1a1a1a;
    border-radius: 5px;
    width: 76%;
    font-size: 20px;
    font-weight: bold;
    color: #f1f1f1;
}

.subsubtittle{
    text-align: center;
    border-radius: 5px;
    width: auto;
    font-size: 15px;
    font-weight: bold;
    color: #f1f1f1;
}

.div-2{
    width: 70%;
    margin: 0 auto;
    min-width: 100px;
}

.div-2{
    background-color: #500000;
    border-radius: 5px;
    font-family:  serif;
    padding: 1px 40px;
    font-style: italic;
}

.div-tools{
    border:#f1f1f1 1px solid;
    padding: 5px 10px;
}
ul {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row; /* Por defecto, los elementos se disponen en una fila */

    border-radius: 5px;
    font-family: serif;
    padding: 1px 40px;
    font-style: italic;
}

li {
    list-style-type: none;
    margin: 0 10px;
}


.img-icon-list {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* Media query para cambiar la disposición de los elementos <li> cuando la pantalla es más delgada */
@media (max-width: 700px) {
    ul {
        display: grid; /* Cambia a grid layout */
        grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual ancho */
        gap: 10px; /* Espacio entre los elementos */
        justify-items: center; /* Centra los elementos en las columnas */
    }

    li {
        margin: 0; /* Ajusta el margen para los elementos en columna */
    }

    .img-icon-list {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}