/*-------------------------------------------------------NAV-----------------------------------------------------------------------------------------*/
nav {
    background: #bb0101;
    width: 100%;
    height: 50px;
    position: fixed;
    border-bottom: #f1f1f1 1px solid;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* Ajusta el padding si es necesario */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav  a {    
    color: #000;
}
nav a:hover {
    color: #f1f1f1;
}

.div-button {
    border-radius: 10px;
    width: auto;
    height: 40px;
    padding: 10px;
    background: #bb0101;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.5s;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.div-button:hover {
    background: #000;
    color: #f1f1f1;
}


/*----------------------------------------------------------HEADER--------------------------------------------------------------------------------------*/
header {
    background: linear-gradient(40deg, #500000, #bb0101 40%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #fff;
    /*position: absolute;*/
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    animation: slideInDown 1s ease-out; /*llamamos a la animación*/
}

img {
    width: 130px;
    margin: 0 auto;
    height: auto;
    margin-bottom: 10px;
}

@keyframes slideInDown {    /*Animación del logo de entrada*/
    from {
        transform: translate3d(-50%, -110%, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(-50%,0,0);
        opacity: 1;
    }
    
}

/*---------------------------------------------------------------------BODY---------------------------------------------------------------------------*/
body {
    background: #1a1a1a;
    color: #f1f1f1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    min-width: 320px;
}

.img-background {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    /*
    DEGRADADO DE IMAGEN DE FONDO
    QUITAR LINK DE IMG 
    background: 
        linear-gradient(
            to bottom,
            transparent 10%,
            rgba(0, 0, 0, 0.5) 80%,
            rgba(0, 0, 0) 95%
        ),
        url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZ3JhbWFjaW9ufGVufDB8fDB8fHww') no-repeat center center;
    background-size: cover;
    border: none;
    */
}
/*--------------------------------------------------------------------SOCIAL BUTTONS----------------------------------------------------------------------------*/
.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Estilos generales para social-button */
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: #fff 1px solid;
    padding: 5px 20px; /* Ajusta el padding según sea necesario */
    margin: 0 10px;
}

.social-button:hover,.social-button:hover a {
    background: #f1f1f1;
    color: #000;
}

.social-button a {
    color: #f1f1f1;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.img-icon {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px; /* Añade un margen derecho para separar el icono del texto */
}

.social-button p {
    margin: 0; /* Elimina el margen del párrafo */
}

/* Media query para ocultar los <p> cuando la pantalla es más delgada */
@media (max-width: 600px) {
    .social-button p {
        display: none;
    }
    .img-icon {
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
}
/*------------------------------------------------------------------NAME------------------------------------------------------------------------------*/
.name{
    background: #1a1a1a;
    border-radius: 5px;
    width: 76%;
    font-size: 30px;
    font-weight: bold;
    color: #f1f1f1;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
}
/*-------------------------------------------------------------------DIVS-----------------------------------------------------------------------------*/
.div-1, .div-3, .div-4, .div-5{
    background: #1a1a1a;
    border-radius: 5px;
    width: 75%;
    padding: 1px 7px;
    margin: 0 auto;
    min-width: 100px;
}

.subtittle{
    background: #1a1a1a;
    border-radius: 5px;
    width: 76%;
    font-size: 20px;
    font-weight: bold;
    color: #f1f1f1;
}

.subsubtittle{
    text-align: center;
    width: auto;
    font-size: 15px;
    color: #f1f1f1;
}

.div-2{
    width: 70%;
    margin: 0 auto;
    min-width: 100px;
}

.div-2{
    background-color: #500000;
    border-radius: 5px;
    font-family:  serif;
    padding: 1px 40px;
    font-style: italic;
}

/*---------------------------------------------------------------TIMELAPSE---------------------------------------------------------------------------------*/
.div-timelapse ul li{
    border: #f1f1f1 1px solid;
    padding: 10px 10px;
    width: 200px;
    list-style-type: none;
    margin: 0 10px;
}

.div-timelapse ul li a{
    color: #f1f1f1;
    border: #f1f1f1 1px solid;
    border-radius: 5px;
    padding: 5px 0;
}

.div-timelapse ul li a:hover{
    background-color: #f1f1f1;
    color: #000;
}

li small{
    display: flex;
    text-align: center;
}

/* Media query para cambiar la disposición de los elementos <li> cuando la pantalla es más delgada */
@media (max-width: 700px) {
    .div-timelapse ul{
        display: grid; /* Cambia a grid layout */
        grid-template-columns: repeat(1, 1fr); /* 2 columnas de igual ancho */
        gap: 10px; /* Espacio entre los elementos */
        justify-items: center; /* Centra los elementos en las columnas */
        margin: 0 -100px;
    }

    li {
        width: 100%;
        height: auto;
        margin: 0; /* Ajusta el margen para los elementos en columna */
    }

    .img-icon-list {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}
.img-icon-cert {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10 auto;
    transition: all 0.5s;
}
/*----------------------------------------------------------------DIV TOOLS--------------------------------------------------------------------------------*/
.div-tools{
    border:#f1f1f1 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
}

ul {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row; /* Por defecto, los elementos se disponen en una fila */
    border-radius: 5px;
    font-family: serif;
    padding: 1px 40px;
    font-style: italic;
}

li {
    list-style-type: none;
    margin: 0 10px;
}

li p{
    margin: 0;
    text-align: center;
}

.img-icon-list {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: all 0.5s;
}
.img-icon-list:hover {
    width: 40px;
    height: 40px;
}

/* Media query para cambiar la disposición de los elementos <li> cuando la pantalla es más delgada */
@media (max-width: 700px) {
    ul {
        display: grid; /* Cambia a grid layout */
        grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual ancho */
        gap: 10px; /* Espacio entre los elementos */
        justify-items: center; /* Centra los elementos en las columnas */
    }

    li {
        margin: 0; /* Ajusta el margen para los elementos en columna */
    }

    .img-icon-list {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}
/*--------------------------------------------------------------DIVS ANIMATION----------------------------------------------------------------------------------*/
@keyframes show{
    from{
        opacity: 0;
        scale: 10%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

.div-principal {
    /* Define el nombre de la línea de tiempo de la vista para la animación */
    view-timeline-name: --reveal;
    
    /* Especifica el nombre de la animación que se aplicará */
    animation-name: show;
    /* Asegura que la animación se mantenga en su estado final después de completarse */
    animation-fill-mode: both;

    /* Define la línea de tiempo de la animación */
    animation-timeline: --reveal;
    /* Especifica el rango de la animación: 
       - 'entry 25%' significa que la animación comenzará cuando el 25% del elemento sea visible.
       - 'cover 50%' significa que la animación se completará cuando el 50% del elemento esté cubierto. */
    animation-range: entry 25% cover 50%;
    z-index: 1;
}

@media (max-width: 700px) {
    .div-2 {
        /* Define el nombre de la línea de tiempo de la vista para la animación */
        view-timeline-name: --reveal;
        
        /* Especifica el nombre de la animación que se aplicará */
        animation-name: show;
        /* Asegura que la animación se mantenga en su estado final después de completarse */
        animation-fill-mode: both;
    
        /* Define la línea de tiempo de la animación */
        animation-timeline: --reveal;
        /* Especifica el rango de la animación: 
           - 'entry 25%' significa que la animación comenzará cuando el 25% del elemento sea visible.
           - 'cover 50%' significa que la animación se completará cuando el 50% del elemento esté cubierto. */
        animation-range: entry 30% cover 40%;
        z-index: 1;
    }
} 
/*---------------------------------------------------------------FOOTER---------------------------------------------------------------------------------*/
footer{
    background: #420101;
    width: 100%;
    height: 100px;
    border-top: #f1f1f1 1px solid;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px; /* Ajusta el padding si es necesario */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}
